:root{
  --ts-time: 0.5s
}
body{
  min-height: 100dvh;
}
.mh100dvh{
  min-height: 100dvh;
}
.card1{
  position: relative;
  display: inline-block;
  overflow: hidden;
  min-width: 300px;
  min-height: 400px;
  transition: all var(--ts-time);
  &.active{
    min-width: 600px;
  }
}
.form{
  position: absolute;
  width: 300px;
  height: 400px;
  flex: 0 0 auto;
  left: 0;
  box-sizing: border-box;
  padding: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  transition: top var(--ts-time), left var(--ts-time);
  &.form1{
    background-color: #ffffff;
    top: -400px;
    &.show{
      display: flex;
    }
    &.active{
      left: 0;
      top: 0;
    }
    .btn-switch1{
      align-self: flex-end;
    }
  }
  &.form2{
    background-color: #ffffff;
    top: 400px;
    &.show{
      display: flex;
    }
    &.active{
      left: initial;
      right: 0;
      top: 0;
    }
  }
  &.form3{
    background-color: #ffffff;
    top: 400px;
    &.show{
      display: flex;
    }
    &.active{
      left: 0;
      top: 0;
    }
  }
}


.side{
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 400px;
  flex: 0 0 auto;
  transition: top var(--ts-time), left var(--ts-time);
  &.side1{
    background-color: #16affc;
    background-image: url(../images/dog.png);
    background-size: cover;
    &.active{
      left: 300px;
    }
  }
  &.side2{
    background-color: #fcab16;
    background-image: url(../images/cat.png);
    background-size: cover;
    &.active{
      right: 300px;
    }
  }
}
